@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
}

#bat-mode {
  --bg-color: #232F2B; /* #262C3A */ /* #262C3A */
  --hover-color: #FE8B20;
  --text-color: white;
  --button-icon: '🦇';
  --hover-button-icon: '👔';
  --hover-button-color: #3A96DD;
}

#bruce-mode {
  --bg-color: #515857; /* 4C5877  */
  --hover-color: #12191E;
  --text-color: white;
  --button-icon: '👔';
  --hover-button-icon: '🦇';
  --hover-button-color: #AAAAAA;
}

body  {
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  margin: 50px auto;
  text-align: center;
}

main h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 10px;
}

main img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px;
  cursor: pointer;
  transition: .5s;
}

main img:hover {
  box-shadow: 1px 1px 50px var(--hover-color);
}

/* #3A96DD
#AAAAAA
*/

main button {
  /* background: none; */
  border: none;
  border-radius: 50%;
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  text-align: center;
}

main button::before {
  content: var(--button-icon);
  font-size: 2em;
}

main button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 50px var(--hover-button-color);
}

main button:hover::before {
  content: var(--hover-button-icon);
}

main ul {
  margin-top: 20px;
  list-style: none;
}

footer {
  text-align: center;
}
